[Unit]
Description=uWSGI instance to serve checker
After=network.target

[Service]
User=demouser
Group=www-data
WorkingDirectory=/checker
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/uwsgi --ini checker.ini

[Install]
WantedBy=multi-user.target
